<h1>Log a new visited destination</h1>

<form action="/destinations" method="post">
  Destination: <input type="text" name="destination">
  <br>
  Date traveled: <input type="date" name="date_traveled">
  <br>
  Travel partner(s): <input type="text" name="travel_partner">
  <br>
  Notes: <input type="text" name="notes">
  <br></br>
  <input type="submit" value="Add destination to visited places">
</form>
