<h1>Add a new destination to your wishlist</h1>

<form action="/destinations/wish" method="post">
  *Destination: <input type="text" name="destination">
  <br>
  Date you'd like to travel by: <input type="date" name="travel_by">
  <br>
  Travel partner(s): <input type="text" name="travel_partner">
  <br>
  Notes: <input type="text" name="notes">
  <br></br>
  <input type="submit" value="Add destination to wishlist">
</form>
