<h1>Welcome, <%= @user.username %></h1>

<h3>Your Travel Destination Wishlist</h3>
<em>Check off your latest journey and submit!</em>
<br></br>
<form action="/destinations" method="post">
  <% @wished_places.each do |wish| %>
    <input type="checkbox" name="visited_place" value="<%=wish.id%>"><%=wish.destination%></input>
    <br>
  <% end %>
  <br></br>
  <input type="submit" id="submit">
</form>

<br>

<h3>Places You've Been Around the World</h3>

<ul>
  <% @visited_places.each do |visit| %>
    <li><%= visit.destination %></li>
    <br>
  <% end %>
</ul>
