<!doctype html>
<html>
  <head>
    <title>Travel Wishlist</title>
  </head>
  <p style="text-align:left;">
    <body>
      <span style="float:right;"><a href="/logout">Log out</a>
      <br>
      <a href="/destinations">Homepage</a>
      </span>
      <%= yield %>
    </body>
  </p>
  <br></br>
  <br></br>
</html>
